@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100%;
    background-color:rgba(21, 14, 14, 0.959);
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
#logo{
    width:30vw;
    background:none;
    

}
h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
      }
#name{
    color:rgb(109, 109, 201);
    font-size:50px;
}
#va{
    color:rgb(105, 201, 156);
    font-size:45px;
}
#voice{
    width: 50px;
    display: none;
}
#btn{
    width:45%;
    background:linear-gradient(to right,rgb(241, 112, 122),rgb(34, 34, 170));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size:20px;
    border-radius:20px;
    color:white;
    box-shadow:2px 2px 12px rgb(57, 59, 56),2px 2px 12px rgb(34, 34, 170);
    border:none;
    transition: all 0.5s;
    cursor:pointer;
}
#btn:hover{
    box-shadow:2px 2px 20px rgb(178, 228, 153),2px 2px 20px rgb(34, 34, 170);
    letter-spacing: 3px;

}
